.question {
  margin: 10px;
  display: flex;
}

.content-question {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 20px;
  align-items: center;
}

.content-response {
  display: flex;
  gap: 10px;
}

.correct {
  background: green;
}

.error {
  background: red;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.BtnReiniciar {
  margin: 10px;
}
